<?xml version='1.0'?>
<launch>
	<arg name="model_id" default="robin"/>

	<group ns="$(arg model_id)">
		<!--node pkg="contrail" type="dispatcher" name="dispatcher" clear_params="true" output="screen"-->

		<!-- HIGH LEVEL CONTROL -->
		<node pkg="mavel" type="mavel_node" name="mavel"
		clear_params="true" output="screen">
			<rosparam command="load" file="$(find robin_gazebo)/config/mavel_sim_params.yaml"/>

			<remap from="~command/attitude" to="mavros/setpoint_raw/attitude"/>
			<remap from="~state/odometry" to="state/odom"/>
			<remap from="~state/mav_state" to="mavros/state"/>
		</node>
	</group>
</launch>
