<?xml version='1.0'?>
<launch>
	<arg name="wp_name" default="square"/>

	<node pkg="contrail" type="load_waypoints" name="load_waypoints" clear_params="true"
	ns="robin_gazebo" output="screen">
		<param name="frame_id" value="map" />

		<rosparam command="load" file="$(find contrail)/waypoints/$(arg wp_name).yaml"/>
	</node>
</launch>
